{% extends 'base.html.twig' %}

{% block title %}Saisie du lieu de la sortie{% endblock %}

{% block body %}
    <h3>Créer un lieu de sortie</h3>

    {{ form_start(villeForm) }}
    {{ form_widget(villeForm) }}

    {{ form_start(lieuForm) }}
    {{ form_widget(lieuForm) }}

    <button>Valider le lieu</button>

    {{ form_end(villeForm) }}
    {{ form_end(lieuForm) }}

{% endblock %}
