{% extends 'base.html.twig' %}

{%block title %}
    Profile
{% endblock %}

{% block body_content %}
    <h2><span>{{ organisateur.pseudo }}</span></h2>

    <div class="center-div">

            <label>Prénom : </label> {{  organisateur.prenom }}
        <br>
        <br>
            <label>Nom : </label>{{ organisateur.nom}}
        <br>
        <br>
            <label>Téléphone : </label>{{ organisateur.telephone}}
        <br>
        <br>
            <label>Email : </label>{{ organisateur.email}}
        <br>
        <br>
            <label>Campus : </label>{{ organisateur.campus.nom}}
        <br>
        <br>

        <div style="text-align: center">
            <a href="{{ path('sortie_home') }}"><button>Retour</button></a>
        </div>
    </div>

{% endblock %}