{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} | Affichage d'une sortie{% endblock %}


{% block body_content %}

    <h2><span>Afficher une sortie</span></h2>

    <div class="center-div">

        <label> Nom de la sortie : </label>{{ sortie.nom }}
        <br>


        <label>Date et heure de la sortie : </label>{{ sortie.dateHeureDebut|date('d/m/Y h:i') }}
        <br>
        <br>

        <label>Date limite d'inscription : </label>{{ sortie.dateLimiteInscription|date('d/m/Y') }}
        <br><br>
        <label>Nombre de places : </label>{{ sortie.participants|length }}/{{ sortie.nbInscriptionsMax }}
        <br><br>
        <label>Durée : </label>{{ sortie.duree }} minutes
        <br><br>
        <label>Description et infos : </label>{{ sortie.infosSortie }}
        <br><br>
        <label>Campus :</label> {{ sortie.campus.nom }}
        <br><br>
        <label>Lieu : </label>{{ sortie.lieu.nom }}
        <br><br>
        <label>Rue : </label>{{ sortie.lieu.rue }}
        <br><br>
        <label>Code postal : </label>{{ sortie.lieu.ville.codePostal }}
        <br><br>
        <label>Latitude :</label> {{ sortie.lieu.latitude }}
        <br><br>
        <label>Longitude : </label>{{ sortie.lieu.longitude }}
        <br><br>

    </div>

    <div>
        <h2><span>Liste des participants inscrits :</span></h2>

        <table class="table">
            <thead>
            <tr>
                <th>Pseudo</th>
                <th>Nom</th>
            </tr>
            </thead>
            <tbody>
                {% for participant in participants %}
                    <tr>
                        <td>{{ participant.pseudo }}</td>
                        <td>{{ participant.nom }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>


    </div>


{% endblock %}



